<?xml version='1.0' encoding='UTF-8'?>
<mashup xmlns="http://wirecloud.conwet.fi.upm.es/ns/macdescription/1" vendor="CoNWeT" name="Bae Marketplace Mashup" version="1.1">
  <details>
    <description>BAE Browser</description>
    <longdescription>DESCRIPTION.md</longdescription>
    <authors>Mognom</authors>
  </details>
  <structure>
    <tab id="0" name="Tab">
      <resource id="245" name="bae-browser" title="BAE Browser" vendor="CoNWeT" version="0.1.1">
        <position x="0" y="0" z="0"/>
        <rendering height="67" width="20" layout="0"/>
        <preferencevalue name="server_url" value="https://store.lab.fiware.org"/>
      </resource>
    </tab>
    <wiring version="2.0">
      <visualdescription/>
    </wiring>
  </structure>
  <embedded>
    <resource name="bae-browser" src="macs/CoNWeT_bae-browser_0.1.1.wgt" vendor="CoNWeT" version="0.1.1"/>
    <resource name="bae-details" src="macs/CoNWeT_bae-details_0.1.1.wgt" vendor="CoNWeT" version="0.1.1"/>
    <resource name="bae-search-filters" src="macs/CoNWeT_bae-search-filters_0.1.0.wgt" vendor="CoNWeT" version="0.1.0"/>
  </embedded>
  <wiring/>
</mashup>
