<?xml version='1.0' encoding='UTF-8'?>
<mashup xmlns="http://wirecloud.conwet.fi.upm.es/ns/macdescription/1" vendor="CoNWeT" name="bae-marketplace" version="0.1.1">
  <details>
    <title>Business API Ecosystem dashboard</title>
    <homepage>https://github.com/Wirecloud/bae-marketplace-mashup</homepage>
    <authors>Alejandro Rodriguez&lt;alex.rodriguez@conwet.com&gt;</authors>
    <email>wirecloud@conwet.com</email>
    <image></image>
    <smartphoneimage></smartphoneimage>
    <description>Browse, adquire and install WireCloud components from the Business API Ecosystem service</description>
    <longdescription>DESCRIPTION.md</longdescription>
    <changelog>doc/changelog.md</changelog>
    <license>Apache-2.0</license>
    <issuetracker>https://github.com/Wirecloud/bae-marketplace-mashup/issues</issuetracker>
  </details>

  <preferences>
    <preference name="server_url" type="text" label="Server URL" description="URL of the Bussines API Ecosystem server" required="true" />
  </preferences>

  <structure>
    <preferencevalue name="baselayout" value="{&quot;verticalmargin&quot;:3,&quot;smart&quot;:&quot;false&quot;,&quot;horizontalmargin&quot;:4,&quot;type&quot;:&quot;gridlayout&quot;,&quot;columns&quot;:20,&quot;cellheight&quot;:12,&quot;rows&quot;:12}"/>
    <tab id="0" name="Offers">
      <resource id="245" name="bae-browser" title="BAE Browser" vendor="CoNWeT" version="0.1.1">
        <position x="0" y="0" z="0"/>
        <rendering height="12" width="20" layout="0"/>
        <preferencevalue name="server_url" value="%(params.server_url)" readonly="true"/>
      </resource>
    </tab>
    <wiring version="2.0">
      <visualdescription/>
    </wiring>
  </structure>
  <embedded>
    <resource name="bae-browser" src="macs/CoNWeT_bae-browser_0.1.1.wgt" vendor="CoNWeT" version="0.1.1"/>
    <resource name="bae-details" src="macs/CoNWeT_bae-details_0.1.1.wgt" vendor="CoNWeT" version="0.1.1"/>
    <resource name="bae-search-filters" src="macs/CoNWeT_bae-search-filters_0.1.1.wgt" vendor="CoNWeT" version="0.1.1"/>
  </embedded>
  <wiring/>
</mashup>
